@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: gray;
  margin: auto;
}

.titulo {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.catalogo {
  margin-bottom: 2rem;
}

#opcoesPaginacao {
  padding: 0.5rem;
  border-radius: 1rem;
  outline-color: yellow;
}


input {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  width: 40vw;
  border-radius: 2rem;
}

main {
  margin-top: 2rem;
}

input:focus {
  outline-color: yellow;
}

.series {
  border: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.img-box img {
  height: 300px;
  width: 200px;
  border-radius: 0.5rem;
  object-fit: cover;
}

footer .botoes {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
  gap: 5px;
}

.botoes #botaoAnterior, .botoes #botaoProximo {
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  border: none;
  color: aquamarine;
  background-color: black;
  cursor: pointer;
}

.botoes p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 15px;
}

.botoes {
  padding: 1rem;
}

.pesquisa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

