@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #141414; /* Cor de fundo escura */
  color: #ffffff; /* Texto claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000; /* Fundo do header */
  position: sticky; /* Fixa o header no topo */
  top: 0;
  z-index: 1000; /* Mantém o header acima de outros elementos */
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #e50914; /* Cor da logo */
}

header .pesquisa {
  display: flex;
  align-items: center;
}

header input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin-right: 10px;
}

header select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
}

main {
  width: 100%;
  margin-top: 20px;
}

.catalogo {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.series {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsividade */
  gap: 15px;
}

.img-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s;
}

.img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.img-box:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

footer {
  margin-top: auto;
  padding: 20px 0;
}

footer .botoes {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer .botoes button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e50914; /* Vermelho Netflix */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer .botoes button:hover {
  background-color: #f40612; /* Tom mais escuro */
}

.botoes p {
  margin-top: 10px;
}

.pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
